div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#img_controller
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#img_viewer
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#img_about
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_img_viewer
{
   position: absolute;
   left: 411px;
   top: 335px;
   width: 118px;
   height: 145px;
   z-index: 2;
}
#wb_img_controller
{
   position: absolute;
   left: 251px;
   top: 335px;
   width: 118px;
   height: 145px;
   z-index: 1;
}
#wb_Image2
{
   position: absolute;
   left: 130px;
   top: 17px;
   width: 710px;
   height: 224px;
   z-index: 4;
}
#wb_img_about
{
   position: absolute;
   left: 570px;
   top: 335px;
   width: 118px;
   height: 145px;
   z-index: 3;
}
@media only screen and (max-width: 320px)
{
div#container
{
   width: 320px;
}
#BuildWith1
{
   left: 423px;
   top: 1129px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
}
